/* Font */
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lora", serif;
}
body {
  background-color: white;
}
.main-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left-sidebar {
  flex-basis: 20%;
  background-color: #fff;
  position: sticky;
  top: 0;
  align-self: flex-start;
  border-right: 1px solid whitesmoke;
}
.right-sidebar {
  flex-basis: 32%;
  position: sticky;
  /* top: 70px; */
  align-self: flex-start;
  border-left: 1px solid whitesmoke;
}
.main-content {
  /* flex-basis: 50%; */
  /* background-color: red; */
  position: absolute;
  top: 0;
  left: 270px;
  width: 48%;
  height: fit-content;
}
.logo-img {
  width: fit-content;
  margin-top: 10px;
  margin-left: 60px;
}
.logo-img img {
  width: 30px;
}
.icons-img {
  margin-top: 10px;
  padding: 10px;
  position: relative;
}
.icons-img a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 50px;
  width: fit-content;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
}
.icons-img a:hover {
  background-color: gray;
}
.icons-img img {
  width: 30px;
  margin-right: 18px;
  position: relative;
}
.post {
  padding: 20px 90px;
  background-color: rgb(29, 155, 240);
  color: white;
  border: none;
  border-radius: 30px;
  margin-left: 35px;
  margin-right: 10px;
  font-weight: 700;
}
.profile-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.profile-info img {
  width: 45px;
  border-radius: 50%;
  margin-right: 10px;
}
.profile-info p {
  font-weight: bold;
  font-size: 18px;
}
.profile-info small {
  font-size: 15px;
  font-weight: 600;
  color: gray;
}

/* RIGHT SIDEBAR */
.search-box {
  background-color: whitesmoke;
  width: 300px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding: 0 30px;
  margin-left: 30px;
  margin-top: 10px;
}
.search-box img {
  width: 18px;
}
.search-box input {
  background: transparent;
  border: none;
  outline: none;
  padding: 10px;
}
.subscribe {
  width: 350px;
  padding: 15px;
  border-radius: 20px;
  background-color: whitesmoke;
  margin-top: 20px;
  margin-right: 15px;
  margin-left: 30px;
}
.subscribe h3 {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: bolder;
}
.subscribe p {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 10px;
  width: 95%;
}
.sub-btn {
  background-color: black;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 27px;
  font-weight: bold;
}
.trends-container {
  background-color: whitesmoke;
  border-radius: 20px;
  margin-top: 16px;
  margin-left: 30px;
  padding: 10px;
  width: 360px;
}
.trends-container h2 {
  margin-left: 10px;
  width: fit-content;
}
.trend-info {
  margin-top: 25px;
  margin-left: 10px;
}
.trend-info .topic {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 17px;
  color: gray;
  margin-bottom: 3px;
}
.trend-info span {
  margin-right: 10px;
}
.trend-info .about {
  font-weight: bolder;
  margin-bottom: 3px;
}
.follow-container {
  background-color: whitesmoke;
  border-radius: 20px;
  margin-top: 16px;
  margin-left: 30px;
  padding: 10px;
  width: 360px;
}
.follow-info {
  /* border: 3px solid red; */
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.follow-info img {
  background: none;
  width: 45px;
  object-fit: cover;
  /* margin-right: 15px; */
}
.follow-details {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}
.follow-btn {
  background-color: black;
  color: white;
  padding: 0 18px;
  border-radius: 25px;
  border: none;
}

/* MAIN CONTENT */
.upper {
  /* border: 4px solid blue; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 12px;
  margin-top: 10px;
  font-size: 12px;
  border-bottom: 2px solid whitesmoke;
}
.tweeting-container {
  /* border: 3px solid red; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
  border-bottom: 2px solid whitesmoke;
  padding-bottom: 30px;
}
.tweeting-container span {
  color: rgb(29, 155, 240);
  font-size: 0.9rem;
  position: absolute;
  bottom: 0.75rem;
  left: 3rem;
}
.tweeting-container img {
  width: 45px;
  border-radius: 50%;
  margin-left: 20px;
}
.tweetbox {
  /* border: 4px solid green; */
  margin-top: 0;
  padding: 0 50px;
}

.show-post {
  color: rgb(29, 155, 240);
  text-align: center;
  border-bottom: 2px solid whitesmoke;
  padding: 15px;
}

.tweet-icons {
  margin-right: 15px;
}
.tweet-icons img {
  width: 25px;
}

.post-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-left: 6px;
  padding-bottom: 13px;
  border-bottom: 2px solid whitesmoke;
}
.post-container img {
  width: 40px;
  object-fit: cover;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
}
.post-user-info {
  display: flex;
  margin-left: 15px;
}
.post-user-info div {
  margin-right: 5px;
}
.post-user-info .username {
  font-weight: bolder;
}

.post-user-info .nickname {
  display: flex;
  align-items: center;
  color: #657786;
  font-size: 14px;
}
.post-user-info .nickname span {
  display: inline-flex;
  align-items: center;
  margin-left: 5px;
}

.post-user-info .nickname img {
  width: 16px;
  height: 16px;
  margin-left: 2px;
  vertical-align: middle;
}
.post-content {
  /* border: 4px solid blue; */
}
.post-content p {
  margin-left: 15px;
  margin-top: 4px;
}
.post-content img {
  width: 60%;
  border-radius: 20px;
  height: 100%;
  object-fit: cover;
  margin-top: 10px;
}
.post-about .andrew-message {
  line-height: 30px;
  width: 90%;
  font-size: 1rem;
}

.tweet-icon {
  /* border: 3px solid red; */
  margin-top: 15px;
  margin-left: -10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.tweet-icon div {
  display: flex;
  align-items: end;
}
.tweet-icon img {
  width: 20px;
  height: 20px;
  object-fit: cover;
  border-radius: 50%;
}
.tweet-icon span {
  margin-left: 20px;
}

/* Footer Styles */

footer {
  margin-top: 10px;
  margin-left: 10px;
}
footer ul {
  display: flex;
  text-decoration: none;
  color: black;
}
footer ul li {
  display: flex;
}
footer ul li a {
  color: black;
  text-decoration: none;
  list-style: none;
  font-size: 0.85rem;
  margin: 0 5px;
}
footer p {
  margin-top: 10px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
  }
  .left-sidebar,
  .right-sidebar {
    flex-basis: 100%;
    display: none;
  }
  .main-content {
    flex-basis: 100%;
    margin: 0;
  }
  .logo-img,
  .profile-info,
  .subscribe,
  .trends-container,
  .follow-container {
    display: none;
  }
}
@media (max-width: 1024px) {
  .left-sidebar,
  .right-sidebar {
    flex-basis: 30%;
  }
  .main-content {
    flex-basis: 70%;
  }
}
